@use "../../styles/partials/resets";
@use '../../styles/partials/mixins' as *;

.videos-selection{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 0rem 0.75rem;
    @include tablet {
        padding: 0 2.25rem;
        margin-bottom: 3rem;
    }
    &__title{
        color:#AFAFAF;
        margin-bottom: 0.75rem;
        font-size: .8125rem;
        @include desktop {
            margin-top: 2rem;
            font-size: .875rem;
        }
    }

    @include desktop {
        margin-top: 0rem;
        border-left: 2px solid #E1E1E1;
        padding: 0 0 4rem 1.6rem;
        margin-bottom: 0rem;
    }

}